<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST" action="/register">

    <label for="">name</label><input type="text" name="name"><br>
    <label for="">Email</label><input type="text" name="email"><br>
    <label for="">password</label><input type="password" name="password"><br>
    <button type="submit">Register</button>
    <br>
    <a href="login">login</a>
    <a href="profile">profile</a>
    </form>
</body>
</html>